body {
   color: #FFF;
   font-size: 17px;
}
.section_bg {
   background-size: cover;
   background-position: center;
}
.py_50 {
   padding-top: 50px;
   padding-bottom: 50px;
}
.rounded_custom {
   border-radius: 20px;
}
.btn_custom {
   color: #FFF;
   border-radius: 20px;
}
.btn_custom:hover {
   color: #FFF;
}
.chevron {
   width: 10px;
   margin: 0 5px;
}
.color_grey {
   color: grey;
}
.img_contain {
   width: 100%;
}
.thumb_item {
   overflow: hidden;
   cursor: pointer;
}
/* ////////// HEADER /////////// */
header {
   width: 100%;
   font-size: initial;
   z-index: 999;
}
/* logo sony  */
.logo_sony {
   background-color: #000;
}
.logo_sony img {
   width: 110px;
   padding: 12px;
}
/* navbar */
.lens {
   margin-left: 20px;
}
.lens img{
   width: 30px;
   margin: 4px;
}
/* ////////// JUMBOTRON /////////// */
section.jumbotron {
   margin-top: 115px;
   background-image: url('../img/jumbo-bg.png');
}
section.jumbotron > .container {
   height: 560px;
}
.banner_title {
   width: 60%;
}
/* listing thumb */
.thumb_item.jumbo {
   margin: 13px 0;
   padding: 2px;
}
.thumb_item.jumbo.active {
   border: 3px solid #2D64E6;
}
/* ////////// PLAYSTATION 5 /////////// */
.top_title {
   text-align: center;
}
.top_title span {
   font-size: 0.9em;
   color: #2D64E6;
}
/* accesories thumb ps5 */
.thumb_item.accesory {
   opacity: 0.5;
   text-align: center;
}
.thumb_item.accesory.active {
   opacity: 1;
   border-bottom: 3px solid #2D64E6;
}
.thumb_item.accesory img {
   width: 65%;
}
.thumb_item.accesory p {
   margin: 0 auto 20px;
   font-size: 0.9em;
}
.thumb_item.accesory.active p {
   color: #000;
}

/* ////////// BANNER >it take two heroes<  /////////// */
section.banner_desktop {
   background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
}

section.banner_desktop > container {
   height: 560px;
}
/* ////////// NUOVE USCITE /////////// */
.new_releases {
   background-color: #1F1F1F;
}
.thumb_item.release {
   margin-bottom: 40px;
}
/* ////////// PLAYSTATION PLUS /////////// */
.play_plus {
   background-color: #BEBCBB;
}
.play_plus button.btn_custom {
   background-color: #D9DADC;
}
/* ////////// PLAYSTATION NOW /////////// */
.play_now {
   background-color: #161C3B;
}
/* ////////// FOOTER /////////// */
footer {
   background-color: #00439C;
}
footer ul li {
   list-style: none;
   margin: 20px 0;
}
footer a {
   color: #FFF;
   text-decoration: none;
}

/* colonna LOGO */
footer .play_logo {
   width: 25%;
   display: block;
}
footer .language_globe {
   width: 40px;
   margin: 0 20px;
}
/* colonna lista voci */
